.glyphicon-plus-sign {
	color: #0fca00; 
}

.glyphicon-minus-sign {
	color: #da0005; 
}

.right-col {
	width: 400px;	
}

#status-table {
	background-color: #bdbdbd;	
}

#player-table thead {
	background-color: #a3a3a3;	
}
